// Task 3 - world.vm

// א. מכניסים למחסנית את הקבוע 6
push constant 6

// מכניסים למחסנית את הסטטי הרביעי (אינדקס 3)
push static 3

// מבצעים פעולת חיבור על שני האיברים (6 + המשתנה הסטטי)
add

// ב. שולפים את התוצאה מראש המחסנית ושומרים אותה חזרה בסטטי הרביעי
pop static 3