function H.draw 0
push argument 0
push argument 1
push argument 2
push constant 1
push constant 0
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 2
push constant 0
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 4
push constant 0
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 5
push constant 0
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 0
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 1
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 2
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 3
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 4
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 5
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 6
push constant 1
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 0
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 1
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 2
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 3
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 4
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 5
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 6
push constant 2
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 1
push constant 3
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 2
push constant 3
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 3
push constant 3
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 4
push constant 3
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 5
push constant 3
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 2
push constant 4
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 3
push constant 4
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 4
push constant 4
push argument 3
call H.cell 6
pop temp 0
push argument 0
push argument 1
push argument 2
push constant 3
push constant 5
push argument 3
call H.cell 6
pop temp 0
push constant 0
return
function H.cell 5
push argument 2
push constant 8
call Math.multiply 2
pop local 0
push argument 5
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 3
pop local 1
push argument 4
pop local 2
label IF_FALSE0
push argument 5
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 5
push argument 4
sub
pop local 1
push argument 3
pop local 2
label IF_FALSE1
push argument 5
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 6
push argument 3
sub
pop local 1
push constant 5
push argument 4
sub
pop local 2
label IF_FALSE2
push argument 5
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 4
pop local 1
push constant 6
push argument 3
sub
pop local 2
label IF_FALSE3
push argument 0
push local 1
push local 0
call Math.multiply 2
add
pop local 3
push argument 1
push local 2
push local 0
call Math.multiply 2
add
pop local 4
push local 3
push local 4
push local 3
push local 0
add
push local 4
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
